CLOUDFLARE_WORKER_NAME=orgus-site
CLOUDFLARE_D1_DATABASE_NAME=orgus-db
CLOUDFLARE_D1_DATABASE_ID=cole-aqui-o-id-gerado-pela-cloudflare
CLOUDFLARE_R2_BUCKET_NAME=orgus-files
NEXT_PUBLIC_SITE_URL=https://orgus.com.br
